.contenido{
    background-color: #2B343B;
}

.contenido-label{
    background-color: #0A70CF;
    display: flex;
    align-items: center;
    height: 20px;
    padding: 5px;
}

.contenedor-contenido{
    margin: 0;
    padding: 5px;
}
